.modalka {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4) ;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modalka__content {
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5s);
  transition: 0.4s all;
}
.modalka.active{
  opacity: 1;
  pointer-events: all;
}
.modalka__content.active {
  transform: scale(1);
}
