.modalka_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalka_form_wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 40rem;
  margin-bottom: 12px;
}

.modalka_input {
  margin: 0;
	width:65%;
}
