.formContainer {
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 55px;
}

.button_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 9%;
    margin-right: 6%;
}

.IconButtons {
}

.formSpan {
    text-align: center;

}
