.picture {
    width: 100%;
    height: 100%;
    height: 230px;
    min-height: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.picture img {
    height: 100%;
    width: 100%;
}

.card {
    border: 0 !important;
    width: 340px;
    height: 380px;
    border-radius: 20px !important;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 3px;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    height: 100%;
}

.card:hover {
    -webkit-transform: translate(10px);
    transform: translate(2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.col {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.cardfooter {
    border-top: 1px solid rgba(67, 91, 113, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px;
}

.views {
    vertical-align: middle;
    margin-left: 3px;
}
